/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
railway_backup.sql
railway_cache_locks.sql
railway_cache.sql
railway_doctors.sql
railway_drugs.sql
railway_failed_jobs.sql
railway_gene_drugs.sql
railway_genes.sql
railway_job_batches.sql
railway_jobs.sql
railway_medical_record_drugs.sql
railway_medical_records.sql
railway_migrations.sql
railway_mobile_users.sql
railway_password_reset_tokens.sql
railway_patient_drug_allergies.sql
railway_patient_results.sql
railway_patients.sql
railway_personal_access_tokens.sql
railway_sessions.sql
railway_specializations.sql
railway_users.sql
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

.vercel
